<div class="form-group">
  @if(label){
<label class="form-label">{{ label }}</label>
  }
  

  <input
    [type]="type"
    [placeholder]="placeholder"
    class="form-control"
    [value]="value"
    (input)="onChange($any($event.target).value)"
    (blur)="onTouched()"
    [disabled]="disabled"
    [attr.name]="name"
    [attr.id]="id"
    [attr.maxlength]="maxlength"
    [attr.autocomplete]="autocomplete"
    [attr.readonly]="readonly"
  />

  @if(showErrors){
  <div class="input-errors">
    {{ errorMessage }}
  </div>
}
  
</div>